<h2 class="center-align">Teams</h2>
<% if current_user %>
	<button class="btn waves-effect waves-light new_team_link">Add a new Team</button>
<% else %>
	<p>You must be logged in to add a team.</p>
<% end %>

<div class="row">
	<div class="col s12 card" id="new_team_form">
		<form action="/teams" method="post" class="input-field col s12" enctype="multipart/form-data">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<div class="input-field col s6">
				<label for="team_name">Team Name</label>
				<input id="team_name" type="text" name="team[name]" class="validate">
			</div>
			<div class="file-field input-field col s6">
				<div class="btn">
					<span>Avatar</span>
					<input type="file" name="team[avatar]">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
			<button id="close_new_team_form" class="waves-effect waves-green btn-flat">Close</button>
		</form>
	</div>
</div>

<% if @teams %>
	<div class="row">
		<% @teams.each do |team| %>
			<div class="col s4">
				<div class="card horizontal team_card">
					<div class="card-image">
						<%= image_tag team.avatar.url, class: "team_avatar" %>
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<h5 class="center-align"><%= team.name %></h5>
							<% if team.users %>
								<% team.users.each do |user| %>
									<div class="chip">
										<%= image_tag user.avatar.url %>
										<%= user.first_name%> <%= user.last_name %>
									</div>
								<% end %>
							<% end %>
						</div>
						<div class="card-action">
						<% if team.users.include? current_user %>
							<a href="/teams/roster/<%=team.id%>" data-method="delete">Leave</a>
						<% elsif ! current_user.team_id && team.users.count < 5 %>
							<a href="/teams/roster/<%=team.id%>" data-method="post">Join</a>
						<% elsif team.users.count > 4 %>
							<p class="roster_full">Team roster is full!</p>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
