<div class="row">
<% if @users %>
	<h4>Registered Users</h4>
	<table class="highlight">
		<tr>
			<th>Name</th>
			<th>Team</th>
			<th>Actions</th>
		</tr>
		<% @users.each do |user| %>
			<% if ! user.admin %>
			<tr>
				<td><%= user.first_name %> <%= user.last_name %></td>
				<td>
					<% if user.team %>
						<%= user.team.name %>
					<% end %>
				</td>
				<td><a href="/users/<%=user.id%>/destroy" data-method="delete">Delete</a></td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>
</div>
<div class="row">
	<% if @teams %>
		<h4>Registered Teams</h4>
		<table class="highlight">
			<tr>
				<th>Name</th>
				<th>Player Count</th>
				<th>Action</th>
			</tr>
			<% @teams.each do |team| %>
				<tr>
					<td><%= team.name %></td>
					<td><%= team.users.count %></td>
					<td><a href="/teams/<%= team.id %>/destroy" data-method="delete">Delete</a></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>