<div class="row">
	<div class="col l12">
		<h3>Hackers</h3>
    <p class="flow-text">Register below as a hacker for our upcoming Event!  If you already registered for our previous event then you do not need to register again, however, you will need to create a new Team.  We hope to you see you soon!</p>
	</div>
</div>
<div class="row">
  <div class="col s12 m6">
    <form class="col s12" action="/users" method="post" enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <div class="input-field col s12 m6">
        <input type="text" id="first_name" name="user[first_name]" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 m6">
        <input type="text" name="user[last_name]" id="last_name" class="validate">
        <label for="last_name">Last Name</label>
      </div>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["first_name"]%>
          <div class="col s12">
          <%flash[:registration_errors]["first_name"].each do |error|%>
            <p class="form_error">First Name <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["last_name"]%>
          <div class="col s12">
          <%flash[:registration_errors]["last_name"].each do |error|%>
            <p class="form_error">Last Name <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <div class="input-field col s12">
        <input type="email" name="user[email]" id="email" class="validate">
        <label for="email">Email</label>
      </div>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["email"]%>
          <div class="col s12">
          <%flash[:registration_errors]["email"].each do |error|%>
            <p class="form_error">Email <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <div class="input-field col s12">
        <input type="text" name="user[language]" id="language" class="validate">
        <label for="language">Preferred Programming Language</label>
      </div>
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Avatar</span>
          <input type="file" name="user[avatar]">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["avatar"]%>
          <div class="col s8">
          <%flash[:registration_errors]["avatar"].each do |error|%>
            <p class="form_error">Avatar <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <div class="input-field col s12">
        <input type="password" name="user[password]" id="password" class="validate">
        <label for="password">Password</label>
      </div>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["password"]%>
          <div class="col s8">
          <%flash[:registration_errors]["password"].each do |error|%>
            <p class="form_error">Password <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <div class="input-field col s12">
        <input type="password" name="user[password_confirmation]" id="password_confirmation" class="validate">
        <label for="password_confirmation">Confirm Password</label>
      </div>
      <% if flash[:registration_errors] %>
        <%if flash[:registration_errors]["password_confirmation"]%>
          <div class="col s8">
          <%flash[:registration_errors]["password_confirmation"].each do |error|%>
            <p class="form_error">Password Confirmation <%=error%></p>
          <%end%>
          </div>
        <%end%>
      <%end%>
      <div class="input-field col s12">
        <button class="waves-effect waves-light btn" type="submit">Register</button>
      </div>
    </form>
  </div>
  <div class="col s12 m6">
    <%= image_tag "planning_on_whiteboard.jpg", class: 'responsive-img z-depth-5' %>
  </div>
</div>
