<div class="row upper">
	<h4>About First Hack</h4>
	<p>As recent graduates of <span><a target="_tab" href="http://www.codingdojo.com/">Coding Dojo</a></span>, a 14 week immersive multi-stack coding bootcamp, the organizers of 'First Hack' were compelled to continue to work together to empower newer developers and developers to-be. Our goal was to create a community that would come together and "level-up" their coding skills while delivering a fully functional web platform to a non-profit or small business that served the greater good. We are designed to be more "newbie-friendly" by providing volunteer mentors throughout the event to help get through troublesome sticking points.</p>

	<h4>About First Hack Organizers</h4>
	<p>Although each of our organizers are now Full Stack Web Developers, they also bring our their unique skill sets and interests and contribute those to the benefit of the community.</p>
</div>


<div class="row">
	<div class="col s12 m6">
		<div class="card-panel grey lighten-5 z-depth-3">
			<div class="row valign-wrapper">
				<div class="col s2 lft">
					<%= image_tag("members/oscar.png", size: 100) %>
					<a target='_tab' href="https://www.linkedin.com/in/oscarcort"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
				</div>
				<div class="col s10">
					<span class="black-text">
						<h5>Oscar Cortazar-Luebbert</h5>
						<p>MEAN | Ruby on Rails | Python | DNN</p>
						<p>First Hack Focus: Beard Management, Open-Source Contributor</p>
						<hr>
						<span>Former oil and gas engineer with a passion for web application development. He's a bilingual easy-to-like guy with a nice beard.</span>
					</span>
				</div>
			</div>
		</div>
	</div><!--end of col s12 m6 div-->
	<div class="col s12 m6 ">
		<div class="card-panel grey lighten-5 z-depth-3">
			<div class="row valign-wrapper">
				<div class="col s2 lft">
					<%= image_tag("members/tiffany.png", size: 100) %>
					<a target='_tab' href="https://www.linkedin.com/in/tthompson899"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
				</div>
				<div class="col s10">
					<span class="black-text">
						<h5>Tiffany Thompson</h5>
						<p>MEAN | Ruby on Rails | LAMP</p>
						<p>First Hack Focus: Front-end, Graphics, Communications</p>
						<hr>
						<span>Non-profit ambassador and former data analyst with a passion for web application development. Tiffany is an intelligent results driven person with skill and professionalism.</span>
					</span>
				</div>
			</div>
		</div>
	</div><!--end of col s12 m6 div-->
	<div class="col s12 m6 ">
		<div class="card-panel grey lighten-5 z-depth-3">
			<div class="row valign-wrapper">
				<div class="col s2 lft img_boxC">
					<%= image_tag("members/cody.png", size: 100, class: 'circle') %>
					<a target='_tab' href="https://www.linkedin.com/in/cody-williams"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
				</div>
				<div class="col s10">
					<span class="black-text">
						<h5>Cody Williams</h5>
						<p>MEAN | Ruby on Rails | LAMP</p>
						<p>First Hack Focus: Product Management, Open-Source Contributor</p>
						<hr>
						<span>Formerly known as 'Cody the Grey', he has become a "Neo-like" web application developer who has transcended and finally answered his true calling.</span>
					</span>
				</div>
			</div>
		</div>
	</div><!--end of col s12 m6 div-->
	<div class="col s12 m6 ">
		<div class="card-panel grey lighten-5 z-depth-3">
			<div class="row valign-wrapper">
				<div class="col s2 lft">
					<%= image_tag("members/terry.png", size: 100) %>
					<a target='_tab' href="https://www.linkedin.com/in/ntxtthomas"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
				</div>
				<div class="col s10">
					<span class="black-text">
						<h5>Terry Thomas</h5>
						<p>MEAN | Ruby on Rails | LAMP</p>
						<p>First Hack Focus: Business Development, Project Management, Mentor Captain, Open-Source Contributor</p>
						<hr>
						<span>A Silicon Valley startup expat with a passion for web application development. A natural networker and one who rises to the challenge, Terry fits naturally in a small to mid-size startup or client facing environment.</span>
					</span>
				</div>
			</div>
		</div>
	</div><!--end of col s12 m6 div-->
	<div class="col s12 m6">
			<div class="card-panel grey lighten-5 z-depth-3">
				<div class="row valign-wrapper">
					<div class="col s2 lft img_boxF">
						<%= image_tag("members/farhan.png", size: 100 ) %>
						<a target="_tab" href="https://www.linkedin.com/in/farhan-s-89a718127"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
					</div>
					<div class="col s10">
						<span class="black-text circle responsive-img">
							<h5>Farhan S.</h5>
							<p>MEAN | Ruby on Rails | LAMP</p>
							<hr>
							<span>Farhan’s ability to ingest new technical information and turn it around in a practical application makes him a natural pacesetter. He’s a go-to destination for making sure the job gets done efficiently and timely.</span>
						</span>
					</div>
				</div>
			</div>
		</div><!--end of col s12 m6 div-->
		<div class="col s12 m6 ">
			<div class="card-panel grey lighten-5 z-depth-3">
				<div class="row valign-wrapper">
					<div class="col s2 lft">
						<%= image_tag("members/ryan.png", size: 100, class: 'circle') %>
						<a target='_tab' href="https://www.linkedin.com/in/rculpepp"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
					</div>
					<div class="col s10">
						<span class="black-text">
							<h5>Ryan Culpepper</h5>
							<p>MEAN | Ruby on Rails | Python</p>
							<p>First Hack Focus: Finance Management, Sponsor Captain, Open-Source Contributor</p>
							<hr>
							<span>An avid DIYer and human and computer language learning ethusiast. He's always up for learning and trying new things and helping others do the same. Actively learning about: second language acquisiton, new JS/CSS frameworks, Data Science</span>
						</span>
					</div>
				</div>
			</div>
		</div><!--end of col s12 m6 div-->
		<div class="col s12 m6 ">
			<div class="card-panel grey lighten-5 z-depth-3">
				<div class="row valign-wrapper">
					<div class="col s2 lft">
						<%= image_tag("members/chris.png", size: 100) %>
						<a target='_tab' href="https://www.linkedin.com/in/chrisulanowicz"><%= image_tag("members/linkedin-button.png", width: 100) %></a>
					</div>
					<div class="col s10">
						<h5>Chris Ulanowicz</h5>
						<p>MEAN | Ruby on Rails | LAMP</p>
						<p>First Hack Focus: DevOps, Social Media, Open-Source Contributor</p>
						<hr>
						<span>Naturally self-driven and displays an impressive commitment to grasping and mastering complex logic ranging from The Tower Of Hanoi algorithm, multi-stack programming languages, to the fairly deep understanding of the inner fundamentals of the computer system itself.</span>
						</span>
					</div>
				</div>
			</div>
		</div><!--end of col s12 m6 div-->
</div>